#userPanel, #employeePanel {
    width: 1000px;
    height: 800px;
    margin: 30px auto;
    padding: 30px 0 0;
    background: #544c6e;
    border: 1px solid #9f98b1;
    font: 16px calibri;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px #9f98b1;
    -moz-box-shadow: 0 0 2px #9f98b1;
    box-shadow: 0 0 2px #9f98b1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
